.income-actions {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
}

.income-actions .add-btn {
    width: auto !important;
}

.loading-icon {
    width: 16px;
    height: 16px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}